body {
    background-color: hsl(234, 29%, 20%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

/* font bold */
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}

/* font regular */
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

.container {
    display: flex;
    width: 100%;
    background: hsl(0, 0%, 100%);
    border-radius: 2.5rem;
    justify-content: center;
    margin: 0rem 10rem;
}

.contentHide {
    display: flex;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    padding-left: 2rem;
    width: 100%;
}

.tittle {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: .1rem;
    color: hsl(234, 29%, 20%);
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.paragraphInfo {
    display: flex;
    align-items: center;
}

.paragraphInfo img {
    margin-right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: bold;
    padding-top: 2rem;
}

.inp {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 8px;
    color: black;
    font-size: 16px;
}

.inp::placeholder {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: hsl(231, 7%, 60%);
}

.inp:focus {
    border: 1px solid red;
}

.btn {
    border: none;
    border-radius: 8px;
    background-color: hsl(234, 29%, 20%);
    padding: 1rem;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    margin-top: .5rem;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(to right, hsl(330, 100%, 65%), hsl(4, 100%, 67%));
}

.imgContainer {
    display: flex;
    width: 100%;
}

.image {
    width: auto;
    padding: 2rem;

}

.newParagraph {
    display: none;
    /* margin: 15rem; */
}

.paragraph {
    display: none;
    flex-direction: column;
    padding: 4rem;
}

.imgThanks {
    width: auto;
    padding-bottom: 2rem;
}

.tittleSuccess {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: .1rem;
    color: hsl(234, 29%, 20%);
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 2rem;
}

.paragraphSub {
    /* margin: 0; */
    font-weight: 200;

}

#newParagraphJs {
    /* margin: 0; */
    /* padding: 0; */
    font-weight: bold;
}

.btn2 {
    margin-top: 2rem;
}

/* mobile version, only 375px recommended*/
@media screen and (max-width:375px){
    body{
        background-color: hsl(0, 0%, 100%);;
    }
    .container{
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        margin-bottom: -1rem;
        margin-top: -1rem;
        border-radius: 0;
    }
    .contentHide{
        flex-wrap: wrap-reverse;
        width: 100%;
    }
    .principal{
        width: 100%;
        padding-left: 0;
    }
    .tittle{
        font-size: 40px;
    }
    .image{
        padding: 0;
        margin: 0;
    }
    .paragraph{
        padding: 0;
        padding-top: 7rem;
    }
    .paragraphSub{
        padding-bottom: 9rem;
    }

}